<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <!-- Include Bootstrap CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container mt-4">
    <!-- Iterate through users and display them in separate columns within a row -->
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-md-12 mb-4">
          <!-- User details go here -->
          <div class="row">
            <div class='col-md-2 card'>
              <% if user.photo.present? && user.photo =~ URI::DEFAULT_PARSER.regexp[:ABS_URI] %>
                <img src="<%= user.photo %>" alt="<%= '' %>" class="card-img-top">
              <% else %>
                <!-- Display a default image if no valid photo URL is available -->
                <img src="/default-user-photo.jpg" alt="Default User Photo" class="card-img-top h-200 w-100">
              <% end %>
            </div>
            <div class="col-md-8 ml-3">
              <div class="border border-dark p-4 d-flex align-items-center">
              <div class="col-md-5">
                <h2 class="card-title">
                  <% if user.name.present? %>
                    <%= link_to user.name, user_path(user.name) %>
                  <% else %>
                    User name not available
                  <% end %>
                </h2>
                </div>
                <div class='col-md-5'>
                <p class="card-text ml-3">
                  Number of comments: <%= user.comments.count %>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>

