<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <!-- Include Bootstrap CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <h1>User Profile</h1>
  
  <div class="container mt-4">
    <!-- User details go here -->
    <div class="row">
      <div class="col-md-2 card">
        <% if @user.photo.present? && @user.photo =~ URI::DEFAULT_PARSER.regexp[:ABS_URI] %>
          <img src="<%= @user.photo %>" alt="<%= @user.name %>" class="card-img-top">
        <% else %>
          <!-- Display a default image if no valid photo URL is available -->
          <img src="/default-user-photo.jpg" alt="Default User Photo" class="card-img-top h-200 w-100">
        <% end %>
      </div>
      <div class="col-md-10">
        <div class="border border-primary p-3">
          <h2><%= @user.name %></h2>
          <p><strong>Bio:</strong> <%= @user.bio || 'No bio available' %></p>
        </div>
        <div class="border border-primary p-3 mt-3">
          <p>Number of Posts: <%= @user.posts.count %></p>
        </div>
        <div class="border border-primary p-3 mt-3">
          <h3>List of Posts:</h3>
          <ul>
            <% @user.posts.each do |post| %>
              <li>
                <%= link_to post.title, user_post_path(@user.name, post.id) %> - 
                Comments: <%= post.comments.count %> -
                Likes: <%= post.likes.count %>
              </li>
            <% end %>
          </ul>
          <%= link_to "See all Posts", user_posts_path(@user), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>