<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <!-- Include custom stylesheets for users -->
<%= stylesheet_link_tag 'application', 'users' %>

</head>
<body>
  <h1>User Profile</h1>
  
  <div>
    <h2><%= @user.name %></h2>
    <% if @user.photo.present? %>
      <% if @user.photo =~ URI::DEFAULT_PARSER.regexp[:ABS_URI] %>
        <img src="<%= @user.photo %>" alt="<%= @user.name%>">
      <% else %>
        <!-- Invalid photo URL, display a default image or error message -->
        <img src="/default-user-photo.jpg" alt="Default User Photo">
        <p>Invalid photo URL</p>
      <% end %>
    <% else %>
      <!-- Default placeholder image if no photo available -->
      <img src="/default-user-photo.jpg" alt="Default User Photo">
    <% end %>

    <p><strong>Bio:</strong> <%= @user.bio || 'No bio available' %></p>

    <p>Number of Posts: <%= @user.posts.count %></p>
    
    <h3>List of Posts:</h3>
    <ul>
      <% @user.posts.each do |post| %>
        <li>
          <%= link_to post.title, user_post_path(@user.name, post.id) %> - 
          Comments: <%= post.comments.count %> -
          Likes: <%= post.likes.count %>
        </li>
      <% end %>
    </ul>
    <%= link_to "See all Posts", user_posts_path(@user), class: "btn btn-primary" %>
  </div>
</body>
</html>

