<!DOCTYPE html>
<html>
<head>
  <title>All Posts</title>
</head>
<body>
  <h1>All Posts</h1>
  
  <% @users.each do |user| %>
    <div>
      <h2><%= user.name %></h2>
      <p>Number of Posts: <%= user.posts.count %></p>
      
      <h3>List of Posts:</h3>
      <ul>
        <% user.posts.each do |post| %>
          <li>
            <strong>Title:</strong> <%= link_to post.title, user_post_path(user.name, post.id) %><br>
            <strong>Number of Comments:</strong> <%= post.comments.count %><br>
            <strong>Likes:</strong> <%= post.likes.count %>
          </li>
          
          <ul>
            <% post.comments.each do |comment| %>
              <li>
                <p><strong>Username:</strong> <%= comment.user.name %></p>
                <%= comment.text %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
    <hr>
  <% end %>
</body>
</html>
