<!DOCTYPE html>
<html>
<head>
  <title>All Posts</title>
  <!-- Include Bootstrap CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <h1>All Posts</h1>
  
  <% @users.each do |user| %>
    <div class="container mt-4">
      <% user.posts.each do |post| %>
        <div class="border border-primary p-3 mt-3">
          <strong>Title:</strong> <%= link_to post.title, user_post_path(user_id: post.author.name, id: post.id) %><br>
          <strong>Number of Comments:</strong> <%= post.comments.count %><br>
          <strong>Likes:</strong> <%= post.likes.count %>
        </div>
        
        <div class="border border-primary p-3 mt-3">
          <h4>Comments:</h4>
          <ul>
            <% recent_comments = post.comments.order(created_at: :desc).limit(5) %>
            <% recent_comments.each do |comment| %>
              <li>
                <strong> <%= comment.user.name %></strong><br>
                <%= comment.text %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</body>
</html>