<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
</head>
<body>
  <h1>Post Details</h1>
  
  <h2><%= @post.title %></h2>
  <p><strong>Author:</strong> <%= @post.author.name %></p>
  <p><strong>Likes:</strong> <%= @post.likes.count %></p>
  <p><strong>Comments:</strong> <%= @post.comments.count %></p>

  <p><strong>Title:</strong> <%= @post.title %></p>
  <p><strong>Text:</strong> <%= @post.text %></p>

  <h3>Comments:</h3>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.text %>
        <p><strong>Author:</strong> <%= comment.user.name %></p>
      </li>
    <% end %>
  </ul>
</body>
</html>

