<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'posts' %>
  <%= stylesheet_link_tag 'users' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
