<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body class="container center">
    <header>
      <nav>
<ul>
  <% if user_signed_in? %>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
  <% else %>
  <% end %>
</ul>

      </nav>
    </header>
    
    <%= yield %>
  </body>
</html>
